.MobileTop {
  height: 5rem;
  width: 100%;
  border-bottom: 2px solid #fff;
}
.MobileTop > * {
  display: block;
}
.MobileTop::after {
  display: block;
  content: "";
  clear: both;
}
@media only screen and (min-width: 48em) {
  .MobileTop,
  .MobileTop > * {
    display: none;
    border: none;
  }
}

.MobileTop span {
  background-color: #fff;
  width: 3rem;
  height: 0.5rem;
  display: inline-block;
  position: absolute;
  top: 45%;
  right: 0;
}
.MobileTop span:first-child {
  transform: rotate(45deg);
}
.MobileTop span:last-child {
  transform: rotate(-45deg);
}

.MobileClose {
  height: 100%;
  width: 4rem;
  margin-right: 1.5rem;
  float: right;
  position: relative;
}
