.Navigation {
  width: 75%;
  height: 100vh;
  background-color: var(--color-principal);
  background-image: linear-gradient(to bottom, #0046b8 0%, #005bea 100%);
  position: fixed;
  z-index: 10;
  left: -80%;
  top: 0;
  transition: 0.5s all;
  overflow-y: auto;
  overflow-x: hidden;
}

@media only screen and (min-width: 31.25em) {
  .Navigation {
    width: 50%;
    left: -60%;
  }
}

@media only screen and (min-width: 48em) {
  .Navigation {
    width: 25%;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
  }
}

@media only screen and (max-height: 35.625em) and (min-width: 48em) {
  .Navigation {
    justify-content: normal;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media only screen and (min-width: 68.75em) {
  .Navigation {
    width: 20%;
  }
}

.NavOpen {
  left: 0;
}
