.Icon {
  font-size: 4rem;
  cursor: pointer;
}

.Search {
  color: var(--color-gris-oscuro);
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}

.WordType {
  font-size: 3rem;
  margin: 0 2.5rem 0 1rem;
}
@media only screen and (min-width: 48em) {
  .WordType {
    margin-right: 1rem;
  }
}

.Delete {
  margin-right: 0.5rem;
  color: var(--color-gris-oscuro);
  transition: all 0.5s;
}
.Delete:hover {
  color: #3d3d3d;
}

.Edit {
  border-radius: 100%;
  background-color: var(--color-secundario-2);
  color: #fff;
  transition: all 0.5s;
  padding: 1rem;
}
.Edit:hover {
  background-color: var(--color-secundario-2-oscuro);
}

.Feature {
  cursor: default;
  font-size: 3.5rem;
  margin-right: 1.5rem;
}

.SignOut {
  position: absolute;
  right: 0;
  margin-top: 2rem;
  margin-right: 2rem;
  color: var(--color-secundario-1);
}
@media only screen and (min-width: 48em) {
  .SignOut {
    position: static;
    align-self: flex-end;
    transition: .3s all;
  }
  .SignOut:hover {
    color: var(--color-secundario-1-oscuro);
  }
}