.Header {
  padding: 2rem 2rem 0 2rem;
}
@media only screen and (min-width: 768px) {
  .Header {
    width: 75%;
    float: right;
    padding: 2rem 2.5rem 0 2.5rem;
  }
}
@media only screen and (min-width: 1100px) {
  .Header {
    width: 85%;
  }
}


.Container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Container::after {
  display: block;
  content: "";
  clear: both;
}
@media only screen and (min-width: 768px) {
  .Container::after {
    display: none;
  }
}


.Header span {
  width: 15vw;
  height: 0.5rem;
  background-color: var(--color-principal);
  display: block;
}
.Header span:not(:last-child) {
  margin-bottom: 0.6rem;
}
@media only screen and (min-width: 360px) {
  .Header span {
    width: 5rem;
  }
}

.Search {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 4.5rem;
  height: 100%;
  width: 100%;
  border: 2px solid transparent;
  background-color: var(--color-gris-claro);
  transition: 0.3s all;
  border-radius: 1rem;
}
.Search:hover {
  border: 2px solid #c4c4c4;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0.1rem 0.8rem;
}
@media only screen and (min-width: 768px) {
  .Search {
    width: 40vw;
  }
}

.Input {
  width: 100%;
  padding: 1.5rem 0;
  background-color: transparent;
  border: none;
}
@media only screen and (min-width: 768px) {
  .Input {
        width: 90%;
        font-size: 1.7rem;
    }
}

.Delete {
    color: var(--color-gris-oscuro-2);
    font-size: 2.5rem;
    line-height: 0.8;
    transition: 0.3s color;   
}
.Delete:hover {
    color: #000;
    cursor: pointer;
}