.Main {
    width: 100%;
    padding: 0 2rem 3rem 2rem;
}

@media only screen and (min-width: 48em) {
    .Main {
        width: 75%;
        float: right;
        padding: 0 4rem;
    }
}

@media only screen and (min-width: 68.75em) {
    .Main {
        width: 80%;
    }
}