.Hero {
  grid-column: 1 / 5;
  background-color: #8e2de2;
  background-image: linear-gradient(
      to top,
      rgba(142, 45, 226, 0.85) 10%,
      rgba(74, 0, 224, 0.85) 100%
    ),
    url("../../../assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  align-content: center;
  justify-content: center;
}
@media only screen and (max-width: 68.75em) {
  .Hero {
    grid-column: 1 / 6;
  }
}
@media only screen and (max-width: 53.125em) {
  .Hero {
    grid-column: 1 / -1;
  }
}
@media only screen and (max-width: 31.25em) {
  .Hero {
    align-content: start;
    padding: 8rem 0;
    overflow: hidden;
  }
}
@media only screen and (max-width: 53.125em) and (max-height: 31.25em) {
  .Hero {
    align-content: center;
    padding: 5rem;
  }
}

.Hero ul {
  text-decoration: none;
  display: block;
  margin: 0 auto;
}

.Logo {
  margin-bottom: 3rem;
}
.Logo img {
  display: inline-block;
  width: 65%;
}
@media only screen and (max-width: 31.25em) {
  .Logo img {
    width: 50%;
  }
}
