.Hero {
    grid-column: 1 / 5;
    background-color: #8E2DE2;
    background-image: linear-gradient(
        to top,
        rgba(142,45,226,.85) 10%, 
        rgba(74,0,224,.85) 100%), url("../../../assets/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    align-content: center;
    justify-content: center;
}
@media only screen and (max-width: 68.75em) {
    .Hero {
        grid-column: 1 / 6;
    }
}
@media only screen and (max-width: 53.125em) {
    .Hero {
        grid-column: 1 / -1;
    }
}
@media only screen and (max-width: 500px) {
    .Hero {
        align-content: start;
        padding: 8rem 0;
        overflow: hidden;
    }
}
@media only screen and (max-width: 500px) and (max-height: 650px) {
    .Hero {
        align-content: center;
        padding: 0;
    }
}

.Hero ul {
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

.Logo {
    margin-bottom: 3rem;
}
.Logo img {
    display: inline-block;
    width: 50%;
}

.ActionBtn {
    display: none;
}
@media only screen and (max-width: 500px) {
    .ActionBtn {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .ActionBtn button {
        align-self: center;
    }
    .ActionBtn p {
        padding: 0 2rem;
    }
}