.Auth {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    text-align: center;
}

@media only screen and (max-width: 53.125em) {
    .Auth {
        grid-template-rows: 90vh min-content;
        text-align: center;
    }
}

@media only screen and (max-width: 53.125em) and (max-height: 31.25em) {
    .Auth {
        grid-template-rows: repeat(2, min-content);
        text-align: center;
    }
}

@media only screen and (max-width: 31.25em) {
    .Auth {
        grid-template-rows: 100vh;
    }
}

.Auth button {
    padding: 1rem 5rem !important;
}