.ListItem {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 300;
}
@media only screen and (max-width: 500px) {
    .ListItem {
        font-size: 2rem;
    }
}
.ListItem:not(:last-child) {
    margin-bottom: 1.5rem;
}

.ListItem p {
    margin-left: 1rem;
}

.ListItem span {
    font-weight: bold;
}